.section-title {
  margin: auto;
  max-width: 50%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1;
  color: rgb(255,36,31);
  text-transform: uppercase;
  letter-spacing: -2px;
}

.drawing-prompt {
  margin: auto;
  max-width: 90%;
  padding: 1em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1;
  color: rgb(159,28,25);
}

.canvas-box {
  margin: auto;
  border: 1px black solid;
  background-color: white;
  width: 320px;
  height: 320px;
  padding: 1px;
}

#drawing {
  width: 320px;
  height: 320px;
}

.control-box {
  position: relative;
  margin: auto;
  width: 320px;
  padding: 0;
}

.control-box h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1;
  color: rgb(159,28,25);
}

.button-box {
  width: 320px;
  list-style: none;
  position: relative;
  margin: auto;
  padding: 0;
}

.button {
  float: left;
  width: 100px;
  margin: 10px;
  padding: 1em;
  border-radius: 4px;
  background: #ff241f;
  text-align: center;
  text-decoration: none;
  font: bold 1.25em/1 "Open Sans", sans-serif;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #d20500;
  transition: all .2s ease;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(159,28,25);
}

.size-selectors {
  list-style: none;
  position: relative;
  width: 170px;
  margin: auto;
  padding: 0;
}

.color-selectors {
  list-style: none;
  position: relative;
  width: 240px;
  margin: auto;
  padding: 0;
}

.selector {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  float: left;
}

.sizer {
  width: 36px;
  height: 36px;
  float: left;
  margin: 2px;
  border: 1px black solid;
}

.huge {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: black;
  left: 3px;
  top: 3px;
}

.large {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: black;
  left: 8px;
  top: 8px;
}

.medium {
  position: relative;
  height: 12px;
  width: 12px;
  background-color: black;
  top: 12px;
  left: 12px;
}

.small {
  position: relative;
  height: 6px;
  width: 6px;
  background-color: black;
  top: 15px;
  left: 15px;
}

.color-selectors .selector {
  margin: 2px;
}


.black {
  background-color: black;
  top: 0;
  left: 0;
}

.white {
  background-color: white;
  top: 0;
  left: 30px;
}

.red {
  background-color: red;
  top: 0;
  left: 60px;
}

.yellow {
  background-color: yellow;
  top: 0;
  left: 90px;
  color: black;
}

.blue {
  background-color: blue;
  top: 0px;
  left: 120px;
}

.aqua {
  background-color: aqua;
  top: 0px;
  left: 120px;
}

.fuchsia {
  background-color: fuchsia;
  top: 0px;
  left: 150px;
}

.gray {
  background-color: gray;
  top: 0px;
  left: 180px;
}

.green {
  background-color: green;
  top: 0px;
  left: 210px;
}

.lime {
  background-color: lime;
  top: 0px;
  left: 240px;
}

.maroon {
  background-color: maroon;
  top: 0px;
  left: 270px;
}

.navy {
  background-color: navy;
  top: 30px;
  left: 0;
}
.olive {
  background-color: olive;
  top: 30px;
  left: 30px;
}

.orange {
  background-color: orange;
  top: 30px;
  left: 60px;
}

.purple {
  background-color: purple;
  top: 30px;
  left: 90px;
}

.silver {
  background-color: silver;
  top: 30px;
  left: 120px;
}

.teal {
  background-color: teal;
  top: 30px;
  left: 150px;

}

.selected {
  opacity: 0.5;
  box-sizing: border-box;
  border: 3px black solid;
}
