
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    zoom: 1;
}

html,body {
  margin:0;
  padding:0;
  height:100%; /* needed for container min-height */
}

.container {
  position: relative;
  height: auto !important;
  min-height: 100%;
}

header {
  position: relative;
  padding: 2em;
  min-height: 10%;
}

.main-title {
  display: block;
  float: left;
  margin: 0;
}

.status-area {
  display: block;
  float: right;
  margin: 0;
}

#content {
  padding: 2em;
  position: relative;
}

footer {
  box-sizing: border-box;
  position: absolute;
  padding: 2em;
  bottom: 0;
  width: 100%;
  min-height: 10%;
}

.left-footer {
  display: block;
  float: left;
  margin: 0;
}

.center-footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 20em;
}

.right-footer {
  display: block;
  float: right;
  margin: 0;
}
