/*Basic styling*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);


/*  $color-1: rgb(159,28,25);   //DK RED
    $color-2: rgb(101,209,251); //LT BLue
    $color-3: rgb(5,171,235);   //DK BLUE
    $color-4: rgb(255,133,0);   //ORANGE
    $color-5: rgb(255,36,31);   //Bright red
*/






* {
  margin: auto;
  text-align: center;
}

header {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background: #05abeb;
  background-color: rgb(5, 171, 235);
}

.main-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1;
  color: white;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-right: .75em;
  position: relative;
  float: left;
  display: block;
  top: -40px;
}

.project-tile {
  position: relative;
  float: left;
  display: block;
}

.project-title h2 {
  font-size: 1.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
  color: rgba(255, 255, 255, 0.95);
  margin: 0;
}

.project-title h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  color: rgba(255, 255, 255, 0.95);
  margin: 0;
}

.project-title h4 {
  font-family: 'Droid Serif', serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  color: rgba(255, 255, 255, 0.95);
  margin: 0;
}

.main {
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  background-color: rgb(190, 236, 254);
  position: relative;
}

.canvas-box {
  border: 1px black solid;
  background-color: white;
  width: 300px;
  padding: 1px;
}

.control-box {
  position: relative;
  margin: 0;
  padding: 0;
}

.color-selectors {
  list-style: none;
  position: relative;
  height: 40px;
}

.size-selectors {
  list-style: none;
  position: relative;
  height: 40px;
}

.selector {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  position: absolute;
}

.huge {
  height: 30px;
  width: 30px;
  background-color: black;
  left: 0;
  top: 0;
}

.large {
  height: 20px;
  width: 20px;
  background-color: black;
  left: 35px;
  top: 5px;
}

.medium {
  height: 12px;
  width: 12px;
  background-color: black;
  top: 9px;
  left: 60px;
}

.small {
  height: 6px;
  width: 6px;
  background-color: black;
  top: 12px;
  left: 80px;
}

#clear {
  position: absolute;
  top: 45px;
  left: 120px;
  height: 30px;
}

.black {
  background-color: black;
  top: 0;
  left: 0;
}

.white {
  background-color: white;
  top: 0;
  left: 30px;
}

.red {
  background-color: red;
  top: 0;
  left: 60px;
}

.yellow {
  background-color: yellow;
  top: 0;
  left: 90px;
  color: black;
}

.blue {
  background-color: blue;
  top: 0px;
  left: 120px;
}

.aqua {
  background-color: aqua;
  top: 0px;
  left: 120px;
}

.fuchsia {
  background-color: fuchsia;
  top: 0px;
  left: 150px;
}

.gray {
  background-color: gray;
  top: 0px;
  left: 180px;
}

.green {
  background-color: green;
  top: 0px;
  left: 210px;
}

.lime {
  background-color: lime;
  top: 0px;
  left: 240px;
}

.maroon {
  background-color: maroon;
  top: 0px;
  left: 270px;
}

.navy {
  background-color: navy;
  top: 30px;
  left: 0;
}
.olive {
  background-color: olive;
  top: 30px;
  left: 30px;
}

.orange {
  background-color: orange;
  top: 30px;
  left: 60px;
}

.purple {
  background-color: purple;
  top: 30px;
  left: 90px;
}

.silver {
  background-color: silver;
  top: 30px;
  left: 120px;
}

.teal {
  background-color: teal;
  top: 30px;
  left: 150px;

}


.selected {
  opacity: 0.5;
  box-sizing: border-box;
  border: 3px black solid;

}

textarea {
  border: 1px black solid;
  display: block;
}
