<!DOCTYPE html>
<html>
<head>
  <title>Drawlephone</title>
  <link rel="stylesheet" type="text/css" href="/static/layout.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  {% block stylesheets %}{% endblock %}
</head>
<body>
  <div class="container">
    <header class="cf">
      <h1 class="main-title">Drawlephone</h1>
      <div class="status-area">
        <a href="{{ url_for('login') }}">Set username</a>
        {% if session.username %}
        <p> Logged in as {{ session.username | safe }}</p>
        <a href="{{ url_for('logout') }}">Log out</a>
        {% else %}
        <p>Improve your experience by choosing a username!</p>
        {% endif %}
      </div>
    </header>
    <section id="content">
      {% block body %}{% endblock %}
    </section>
    <footer class="cf">
      <a class="left-footer" href="{{ url_for('logout') }}">Reset cookie</a>
      <a class="right-footer" href="{{ url_for('home') }}">Help</a>
      <p class="center-footer">Created in the Code Fellows Python Dev Accelerator by Jason, Charlie, &amp; Ben</p>
    </footer>
  </div>
  {% block scripts %}{% endblock %}
</body>
</html>
