{% extends "base.html" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/typing.css">
<link rel="stylesheet" type="text/css" href="/static/drawing.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js"></script>
{% endblock %}
{% block body %}
<h1 class="section-title">Games {{ user }} contributed to</h1>
<h2 class="instructions"><a href="/">Play Again</a></h2>
{% if list %}
<div class="game cf">
  <h2 class="instructions">GAME <span id="game_id">XX</span></h2>
  <ul class="button-box cf">
    <li id="previous" class="d-button">Previous</li>
    <li id="next" class="d-button">Next</li>
  </ul>
  <h3 id="prompt1" class="prompt">prompt 1</h3>
  <div class="canvas-box">
    <canvas id="image1"></canvas>
  </div>
  <h3 id="prompt2"class="prompt">prompt 2</h3>
  <div class="canvas-box">
    <canvas id="image2"></canvas>
  </div>
  <h3 id="prompt3" class="prompt">prompt 3</h3>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
{% if list %}
<script>
var list_of_games = {{ list }}
</script>
<script type="text/javascript" src="/static/showpage.js"></script>
{% endif %}
{% endblock %}
