<!DOCTYPE html>
<html>
<head>
  <title>Paper Telephone</title>
  <link rel="stylesheet" type="text/css" href="/static/modules.css">
</head>
<body>
  <header>
    <h1 class="main-title">Paper Telephone<br> Game</h1>
    <hgroup class="project-title">
      <h2>A test page for drawing &amp; writing</h2>
      <h3>By Jason Brokaw</h3>
      <h4>Ver. 0.01</h4>
    </hgroup>
  </header>
  <section class="main">
    <h1 class="section-title">Draw a picture</h1>
    <h2 class="drawing-prompt">Sentence goes here</h2>
    <div class="canvas-box">
      <canvas id="drawing" class="lower-canvas"></canvas>
    </div>
    <div class="control-box">
      <h3>Size:</h3>
      <ul class="size-selectors cf">
        <li class="selector huge selected"></li>
        <li class="selector large"></li>
        <li class="selector medium"></li>
        <li class="selector small"></li>
      </ul>
      <button id="clear">Clear drawing</button>
      <button id="upload">Upload</button>
      <h3>Color:</h3>
      <ul class="color-selectors cf">
        <li class="selector black selected"></li>
        <li class="selector white"></li>
        <li class="selector red"></li>
        <li class="selector yellow"></li>
        <li class="selector blue"></li>
        <li class="selector aqua"></li>
        <li class="selector fuchsia"></li>
        <li class="selector gray"></li>
        <li class="selector green"></li>
        <li class="selector lime"></li>
        <li class="selector maroon"></li>
        <li class="selector navy"></li>
        <li class="selector olive"></li>
        <li class="selector orange"></li>
        <li class="selector purple"></li>
        <li class="selector silver"></li>
        <li class="selector teal"></li>
      </ul>
    </div>
  </section>
  <section class="main">
    <h2>Previous Picture</h2>
    <div class="canvas-box">
      <canvas id="oldpic" class="lower-canvas"></canvas>
    </div>
  </section>
  <section class="main">
    <h1 class="section-title">Write a sentence</h1>
    <textarea id="textbox" rows="10" cols="30"></textarea>
    <button id="submit-text">Submit</button>
  </section>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/static/drawing.js"></script>
</body>
</html>
